#pokedex {
    grid-area: pokedex;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 50px auto;
    grid-template-areas:
        ". input ."
        ". display .";
}

#input-section {
    grid-area: input;
    align-self: center;
    justify-self: center;
}

#display-section {
    grid-area: display;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas:
        "image image name name name"
        "image image attr attr attr"
        "image image stats stats stats"
        "front back . . ."
    ;
}

#poke-img {
    grid-area: image;
    justify-self: center;
    align-self: center;
    width: 300px;
}

#front {
    grid-area: front;
    justify-self: center;
    align-self: center;
}

#back {
    grid-area: back;
    justify-self: center;
    align-self: center;
}

#poke-name {
    grid-area: name;
    align-self: center;
    justify-self: center;
}

#poke-attr {
    grid-area: attr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "h w types"
    ;
}

#poke-height {
    grid-area: h;
}

#poke-weight {
    grid-area: w;
}

#poke-types {
    grid-area: types;
    display: flex;
    flex-direction: column;
}

#poke-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {

    #poke-img {
        width: 200px;
    }

    #pokedex {
        grid-template-columns: auto;
        grid-template-rows: 70px auto;
        grid-template-areas:
            "input"
            "display";
    }

    #display-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr 2fr 2fr;
        grid-template-areas:
            "image image image"
            "name name name"
            "attr attr attr"
            "stats stats stats"
        ;
    }

    #front {
        display: none;
    }

    #back {
        display: none;
    }

    #poke-height {
        justify-self: center;
    }

    #poke-weight {
        justify-self: center;
    }

    #poke-types {
        justify-self: center;
    }

    .poke-stat {
        align-self: center;
        justify-self: center;
    }
}